# raw data and downloaded references
data/raw/*
!data/raw/README.md
references/source_projects/*
!references/source_projects/README.md
*.zip

# Python / notebook
__pycache__/
.ipynb_checkpoints/

# system files
.DS_Store
.env
